* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 20px 200px 0px 200px;
    gap: 95px;
    margin-bottom: 150px;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 12px;
}

.header-main-container {
    display: flex;
    gap: 50px;
}

.header-main-info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center ;
}

.header-title-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
}

.header-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-img {
    height: auto;
    width: 550px;
}

.header-button {
    width: 65px;
    padding: 6px;
    background-color: #3882f6;
    border: 4px #1f2937 solid;
    border-radius: 13px;
}

/* Main Section */

.main-container {
    display: flex;
    flex-direction: column;
    gap: 95px;
}

.random-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px 0px 200px;
    gap: 40px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info {
    display: flex;
    gap: 20px;
}

.waifu-pic {
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    gap: 10px;   
}

img {
    width: 260px;
    height: auto;
    border: 6px #3882f6 solid;
    border-radius: 25px;
}

.text {
    font-size: 18px;
    color: gray;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 150px 200px 150px 200px;
}

.quote,
figcaption {
    font-size: 36px;
    font-weight: italic;
    color: #1f2937;
}

figcaption {
    margin-left: 500px;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 200px 0 200px;
    margin-bottom: 150px;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 100px
}

.signup-title {
    font-size: 22px;
    font-weight: bold;
    color: #f9faf8;
}

.signup-text {
    color: #d3dceb;
}

.signup-button {
    background-color: #3b82f6;
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 16px;
}